.timTableTable {
  margin-top: 1.5em; /* to leave space for editor buttons */
}

.buttonsCol, .buttonsRow {
  position: absolute;
  display: flex;

  button {
    font-size: xx-small;
    padding: 5px;
  }
}

.buttonsCol {
  right: -1.4em;
  top: -1.7em;
}

.buttonsRow {
  bottom: -1.2em;
  left: -1.6em;
  flex-direction: column;
}

.editable {
  box-shadow: 0 0 4px 2px blue;
}


.timTableContentDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

td input[type="text"] {
  width: 100%;
}

.inlineEditorButtons {
  width: -moz-max-content;
}

.timTableRunDiv {
  overflow: auto;
  /* border: none; */
  padding-right: 4em;
  padding-left: 2em;
  margin: auto;

  &.no-overflow {
    overflow: initial;
    padding: 0;
  }
}


td.charRow {
  font-size: smaller;
  text-align: center;
  border-bottom: none !important; /* prevent no border top from cell below */
}


td.header {
  border-bottom: none !important; /* prevent no border top from cell below */
}

td.nrcolumn.charRow {
  visibility: hidden;
}

td.cbColumn.charRow {
  visibility: hidden;
}

.paragraphs table > thead > tr > td {
  border-bottom-width: 1px;
}

.timTableTable .xo, .timTableToolbarRow .xo {
  text-decoration: line-through !important;
}

.timTableTable .xu, .timTableToolbarRow .xu {
  text-decoration: underline !important;
}

.timTableTable .xg, .timTableToolbarRow .xg {
  color: #AAA;
}

.timTableTable .bt {
  border-top: 2px solid black;
}

.timTableToolbarRow .btb {
  border-top: 3px solid black !important;
  width: 25px;
}

.timTableTable .bl {
  border-left: 2px solid black;
}

.timTableToolbarRow .blb {
  border-left: 3px solid black !important;
  width: 25px;
}

.timTableTable .br {
  border-right: 2px solid black;
}

.timTableToolbarRow .brb {
  border-right: 3px solid black !important;
  width: 25px;
}

.timTableTable .bb {
  border-bottom: 2px solid black;
}

.timTableToolbarRow .bbb {
  border-bottom: 3px solid black !important;
  width: 25px;
}

.timTableTable .headers {
  background-color: var(--table-header-bg);
  font-weight: bold;
  color: var(--table-header-color);
}

.timTableTable .fixedColor {
  background-color: var(--table-header-bg);
}
